/**{
	padding: 0;
	margin-top: 0;
}*/

html, body{
	height: 100%;
}

body{
	font-family: 'Montserrat', sans-serif;
}
.container{
	max-width: 1366px;
	margin: 0 auto;
	min-height: 100%;
	flex: 1;
}
.slider{
	height: 800px;
	background-image: url(pictures/background-index.jpg);
	position: relative;
}

.slider1{
	height: 800px;
	background-image: url(pictures/background-index2.jpg);
	position: relative;
}

.slider3{
	height: 683px;
	position: relative;
	display: flex;
}
.sub-slider1{
	height: 683px;
	width: 683px;
	background-image: url(pictures/promo-img1.jpg);
	position: relative;
}
.sub-slider2{
	height: 683px;
	width: 683px;
	background-image: url(pictures/promo-img.jpg);
	position: relative;
}

.padding-size{
	padding-left:98px;
	padding-right: 98px;
}

.padding-height{
	padding-bottom: 120px;
	padding-top: 120px;
}

.goods-block1{
	padding-bottom: 120px;
	padding-top: 120px;
}

.goods-content{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.goods-content a{
	display: block;
}
.goods-hover{
    position: relative;
}
 
.goods-hover:hover .goods2{
    display: block;
}

.goods-hover:hover{
       
    transform: rotate(10deg);
 
}
   
.goods2{
    display: none;
    position: absolute;
    top: 0;
    left:0;
    width: 270px;
    height: 270px;
    border: 1px solid black;
    opacity: 0.45;
}

.goods2 a{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 50%;
    background-color:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 48px;
    height: 48px;
    font-size: 40px;
    text-decoration: none;
    color: black;
    text-align: center;
}
.goods2 a:hover{
    background: #f7f7f7;
}
.goods2 a:active{
    position: relative;
    top: 2px;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}

.goods2 h3{
    font-family: Montserrat;
    color:  #212121;
    font-size: 21.91px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 30px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleX(1.0041);/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
}
.goods2 p{
    font-family: Montserrat;
    color:  #6c6c6c;
    font-size: 13.94px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 22px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleX(1.0041);/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
}
/*
.on-hover{
	display:flex; 
	width: 270px;
	height: 270px;
	border: 1px solid;
	flex-direction: column;
}
.circle1{
	border-radius: 50%;
	width: 30px;
	height: 30px;
	border: 2px solid;
}

*/

.traiding-product{

}
.header-tr{
	display: flex;
	margin-bottom: 64px;
	justify-content: space-between;
}
.header-tr h3{
	display: block;
	color:  #212121;
	font-size: 36px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;

}
.header-tr a{
	display: block;
	color:  #212121;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: center;
	text-decoration: none;
	letter-spacing: 3px;
	margin-bottom: 4px;
}

.content-tr{
	align-items: center;
}

.content-tr-line{
	display: flex;
	padding-bottom: 15px;
	padding-top: 15px;
	justify-content: center; 
}
.content-tr-line a{
	display: block;
	padding-left: 15px;
	padding-right: 15px;
}
.a-tr{
	display: block;
	width:370px;
}

.slider4{
	display: flex;
	justify-content: center;
}
.left-part{
	background-image: url(pictures/product-1-lg.jpg);
	height: 570px;
	width: 570px;
	position: relative;
	margin-right: 15px;
}

.right-part{
	height: 570px;
	width: 660px;
}

.rp-line{
	display: flex;
	justify-content: center;
	margin-left: 15px;
	margin-bottom: 30px;
}
.rp-line a{
	margin-left: 0px;
	margin-right: 30px;
}

.last-page{
	
}
.lp-upper-part{
	background-image: url(pictures/back-img.jpg);
	height: 516px;
}
.lp-lower-part{
	position: relative;
	background-image: url(pictures/footer-back.jpg); 
	height:384px;
	display: flex;
	flex-direction: column;
	padding-top: 120px;
}

.lp-block1{
	width: 350px;
}
.lp-block1 p{
	color:  #212121;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 22px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
.lp-block2{
	width: 422px;
}

.lp-block2-subblock{
	display: flex;
	justify-content: space-between;
	padding-right: 78px;
}

.block-menu{
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0px;
}

.block-menu li a{
	text-decoration: none;
	color:  #212121;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 26px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
.lp-block3{
	width: 363px;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 22px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}

.lp-block-header{
	color:  #6c6c6c;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}

.lp-content{
	display: flex;
	justify-content: space-around;	
}
.lp-footer{
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}
.footer2 a{
	display: block;
	margin-left: 20px;
}
.footer3 a{
	text-decoration: none;
	color:  #6c6c6c;
	font-size: 12px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 26px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin-left: 20px;
	margin-right: 20px
}

.footer1{
	color:  #6c6c6c;
	font-size: 12px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 26px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin-right: 20px
}

.astyle:hover{
	font-size: 14px;
	color: #6c6c6c;
}
.astyle-footer:hover{
	font-size: 12px;
	color: #212121;
}
.button-group{
    display: flex;
}

.button-sa a:active{
    display: block;
    position: relative;
    top: 2px;
}
.send-form{
	display: flex;
	position: relative;

}
.send-form input{
	width: 231px;
}
.email{
	position: absolute;
	left: 10px;
	padding-left: 10px;
	padding-right: 20px;
    padding-bottom:6px; 
    padding-top: 6px;
	color: #6c6c6c;
}
.button-send{
	text-align: center;
	position: absolute;
	left: 250px;
	width: 18px;
	height:18px;
	border: none;
	border-color: #6c6c6c;
	border-radius: 50%;
	color: #6c6c6c;
    margin-top: 4px;

}

.astyle1:active{
    position: relative;
    top: 2px;
}
.astyle1{
	text-decoration: none;
    
}
.astyle1:hover{
	color: #212121;
}

.my-settings{
    border-radius: 20px;
}

.goods:hover{
	transform: rotate(10deg);
}
.effect:hover{
	transform: rotate(10deg);
}
.real-footer{
	max-width: 1366px;
	margin: 0 auto;
}
.header{
	display: flex;
	justify-content: space-between;
}

.logo{
	margin-top: 63px;
}

.menu{
	display: flex;
	margin-top: 57px;
	list-style-type: none;
}
.menu a{
	padding: 10px 13px;
	color:  #8c8c8c;
	font-size: 14px;
	font-weight: 300;
	text-align: right;
	text-decoration: none;
}

.menu a:hover{
	color: #212121;
	border-bottom: 3px solid #212121;
}
.menu li:last-child a:hover{
	border-bottom: 0px;
	padding-bottom: 0px;
}


.header1{
	display: flex;
	justify-content: space-between;
}

.explore{
	display: block;
	color:  #212121;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: center;
	text-decoration: none;
	letter-spacing: 3px;
	margin: 17px 0px;
	padding: 24px 0px;
}

.explore:hover{
	font-size: 18px;
	color: #6c6c6c;
	padding: 24px -2px;
}

.menu1{
	display: flex;
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;

}
.menu1 li a{
	display: block;
	padding: 19px 9px;
	letter-spacing: -2px;
	color:  #6c6c6c;
	font-size: 36px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: left;
	border-bottom: 2px solid;
}

.menu1 li a:hover{
	color:  #212121;
	font-size: 36px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: left;
	border-bottom: 2px solid;
}


.menu1 a{
	text-decoration: none;
}


.text{
		margin-top: 283px;
}


.button-ou:hover{
	background-color: #f7f7f7;
	
}
.button-ou:active{
		position: relative;
		top: 2px;
		box-shadow: 0px 0px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}

.text h3{
	font-family: Montserrat;
	color:  #43a047;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 16px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin-bottom: 23px;
}
.text h2{
	font-family: Montserrat;
	color:  #212121;
	font-size: 62px;/* Приближение из-за подстановки шрифтов */
	font-weight: 100;
	line-height: 44px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	text-transform: uppercase;
	margin: 20px 0;
	letter-spacing: -2px;
}
.text p{
	font-family: Montserrat;
	color:  #6c6c6c;
	font-size: 14px;/	* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	width: 478px;
	margin-bottom: 32px;
}
.text a{
	display: block;
	font-family: Montserrat;
	color:  #212121;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	background-color:  #ffffff;
	box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
	width: 212px;
	height: 45px;
	border-radius: 22.5px;
	text-transform: uppercase;
	line-height: 45px;
	letter-spacing: 3.6px;
}

.text1{
		position: absolute;
		top: 287px;
}

.text1 h3{
	font-family: Montserrat;
	color:  #43a047;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 16px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin-bottom: 23px;
}
.text1 h2{
	font-family: Montserrat;
	color:  #212121;
	font-size: 62px;/* Приближение из-за подстановки шрифтов */
	font-weight: 100;
	line-height: 44px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	text-transform: uppercase;
	margin: 20px 0;
	letter-spacing: -2px;
}
.text1 p{
	font-family: Montserrat;
	color:  #6c6c6c;
	font-size: 14px;/	* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	width: 478px;
	margin-bottom: 32px;
}
.text1 a{
	display: block;
	font-family: Montserrat;
	color:  #212121;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	background-color:  #ffffff;
	box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
	width: 212px;
	height: 45px;
	border-radius: 22.5px;
	text-transform: uppercase;
	line-height: 45px;
	letter-spacing: 3.6px;
}

/*text 3*/
.text3{
	margin-top: 228px;
	margin-left: 51px;

}

.text3 h3{
	font-family: Montserrat;
	color:  #1e88e5;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 16px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin-bottom: 23px;
}
.text3 h2{
	font-family: Montserrat;
	color:  #212121;
	font-size: 36px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 44px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	text-transform: uppercase;
	margin: 20px 0;
	letter-spacing: -2px;
}
.text3 p{
	font-family: Montserrat;
	color:  #6c6c6c;
	font-size: 14px;/	* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	width: 388px;
	margin-bottom: 32px;
}
.text3 a{
	display: block;
	font-family: Montserrat;
	color:  #212121;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	background-color:  #ffffff;
	box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
	width: 212px;
	height: 45px;
	border-radius: 22.5px;
	text-transform: uppercase;
	line-height: 45px;
	letter-spacing: 3.6px;
}

.text4{
	padding-top: 186px;
	padding-left: 31px;
}

.text4 h3{
	font-family: Montserrat;
	color:  #1e88e5;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 16px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin-bottom: 23px;
}
.text4 h2{
	font-family: Montserrat;
	color:  #212121;
	font-size: 36px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 44px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	text-transform: uppercase;
	margin: 20px 0;
	letter-spacing: -2px;
}
.text4 p{
	font-family: Montserrat;
	color:  #6c6c6c;
	font-size: 14px;/	* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	width: 361px;
	margin-bottom: 32px;
}
.text4 a{
	display: block;
	font-family: Montserrat;
	color:  #212121;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	background-color:  #ffffff;
	box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
	width: 212px;
	height: 45px;
	border-radius: 22.5px;
	text-transform: uppercase;
	line-height: 45px;
	letter-spacing: 3.6px;
}

.text5{
	padding-top: 125px;
	padding-left: 0px;
}

.text5 h3{
	font-family: Montserrat;
	color:  #6c6c6c;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 16px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin-bottom: 23px;
}

.text5 h2{
	font-family: Montserrat;
	color:  #212121;
	font-size: 62px;/* Приближение из-за подстановки шрифтов */
	font-weight: 100;
	line-height: 72px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	text-transform: uppercase;
	margin: 20px 0;
	letter-spacing: -4px;
	width: 490px;
}
.text5 p{
	font-family: Montserrat;
	color:  #6c6c6c;
	font-size: 22px;/	* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	width: 361px;
	margin-bottom: 32px;
}
.text5 a{
	display: block;
	font-family: Montserrat;
	color:  #212121;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	background-color:  #ffffff;
	box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
	width: 212px;
	height: 45px;
	border-radius: 22.5px;
	text-transform: uppercase;
	line-height: 45px;
	letter-spacing: 3.6px;
}
.circle-box{
	display: flex;
	align-items: center;
	margin-top: 120px;
	justify-content: center;
	position: absolute;
	bottom: 19px;
	width: 1180px;
	
}
.circle-box .circle{
	display: block;
	border-radius: 50%;
	background-color:  rgba(33, 33, 33, 0.2);
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-right: 5px;
}
.circle-box .circle-active{
	width: 40px;
	height: 40px;
	background-color: #212121;
}

.circle-box .circle:hover{
	background-color: #212121;
}

@media screen and (max-width: 768px) {
	.real-footer{
		/*background-color: green;*/
	}
}